@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {border: 0; margin: 0; padding: 0; text-align: center; overflow: hidden; user-select: none; color: white;}

#bet {width: 100vw; height: 100vh; background: #00472f; position: fixed; top: 0; left: 0;}
#bet > p:nth-of-type(1) {width: 30vw; font-family: "Dancing Script"; font-size: 80px; font-weight: bold; padding: 30px 0; border-bottom: 10px double white; position: fixed; top: 0; left: 35vw; -webkit-text-stroke: 1px;}
#input {width: 25vw; padding-bottom: 15px; border-bottom: 5px solid white; position: fixed; top: 40vh; left: 10vw; font-size: 42px; font-weight: bold; display: flex; justify-content: center; align-items: center;}
#up {width: 10vw; border: 3px solid white; padding: 10px 0; border-radius: 100px; background: #00472f; position: fixed; top: 55vh; left: 10vw;}
#down {width: 10vw; border: 3px solid white; padding: 10px 0; border-radius: 100px; background: #00472f; position: fixed; top: 55vh; left: 25vw; pointer-events: none;}
#start {width: 20vw; height: 20vh; border-radius: 100px; font-size: 60px; font-family: "Dancing Script"; color: white; background: #00472f; border: 5px solid #fff; position: fixed; top: 40vh; right: 10vw; -webkit-text-stroke: 1.5px;}

#player, #dealer {width: 100vw; height: 50vh; background: #00472f; display: flex; align-items: center; justify-content: center;}
#player > div, #dealer > div {width: 80px; height: 120px; padding: 0 10px;}
#player > div > p, #dealer > div > p {display: none;}
#player > div > img, #dealer > div > img {width: 80px;}

#buttons {width: 20vw; height: 30vh; position: fixed; top: 35vh; right: 10vw; display: flex; flex-direction: column; align-items: center; display: none;}
#hit, #stand {width: 150px; height: 60px; margin: calc(7.5vh - 30px) 0; border: 3px solid white; border-radius: 100px; background: #00472f; padding: 5px 15px; font-size: 20px; font-weight: bold; display: none;}

#betPrice {position: fixed; left: 50px; top: 50px; font-size: 24px; display: none; padding: 15px; border: 3px solid white; border-radius: 10px; font-weight: bold;}

#playerPoint {position: fixed; left: 50px; bottom: 50px; font-size: 24px; display: none; padding: 15px; border: 3px solid white; border-radius: 10px; font-weight: bold;}

#dealerPoint {position: fixed; left: 150px; top: 140px; font-size: 24px; display: none; padding: 15px; border: 3px solid white; border-radius: 10px; font-weight: bold;}

#selectPoint {width: 40vw; height: 30vh; background: #00472f; position: fixed; top: 35vh; left: 30vw; display: none; align-items: center; justify-content: center;}
#selectPoint > button {width: 50px; height: 20vh; background: none; border: 2px solid white; margin: 0 10px;}

#over_page {width: 100vw; height: 100vh; background: #00472f; display: none}
#result {position: fixed; top: 55px; left: 55px; font-size: 24px; display: none; padding: 15px; border: 3px solid white; border-radius: 10px; font-weight: bold;}